<td class="py-4 text-black px-6 border-b border-gray-200">{{cours.classe.libelle}}</td>
<td class="py-4 text-black px-6 border-b border-gray-200 truncate">{{cours.professeur.name}}</td>
<td class="py-4 text-black px-6 border-b border-gray-200">{{cours.semestre.libelle}}</td>
<td class="py-4 text-black px-6 border-b border-gray-200">{{cours.annee.libelle}}</td>
<td class="py-4 text-black px-6 border-b border-gray-200">{{cours.module.libelle}}</td>
<td class="py-4 text-black px-6 border-b border-gray-200">{{cours.heure_globale}}</td>
<td class="py-4 text-black px-6 border-b border-gray-200">
  <span class="cursor-pointer" (click)="deleteItems(cours.id)">❌ &nbsp;</span>
  <span class="cursor-pointer" (click)="editItems()">&nbsp; ✏️</span>
</td>
