<!-- component -->
<div class="p-6 bg-gray-100 flex items-center justify-center">
    <div class="container max-w-screen-lg mx-auto">
      <div>
        <h1 class="font-semibold text-2xl text-gray-600">Plannification Cours</h1>
        <!-- <p class="text-gray-500 mb-6">Form is mobile responsive. Give it a try.</p> -->
  
        <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 ">
            <div class="text-gray-600">
              <p class="font-medium text-lg">Sonatel School</p>
              <img src="https://img.freepik.com/free-vector/gradient-high-school-logo-design_23-2149626932.jpg" class="h-20 w-20 mr-3" alt="Flowbite Logo" />
            </div>
            <form action="" [formGroup]="useForm">
  
            <div class="lg:col-span-2">
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                <div class="md:col-span-2">
                  <label for="full_name">Classes</label>
                  <select formControlName="classe_id" name="full_name" id="full_name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                    <option [value]="item.id" *ngFor="let item of data.classes">{{item.libelle}}</option>
                  </select>
                </div>
  
                <div class="md:col-span-2">
                    <label for="full_name">Professeurs</label>
                    <select formControlName="professeur_id" name="professeur" id="full_name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" >
                      <option [value]="item.id" *ngFor="let item of data.professeurs">{{item.prenom}} {{item.nom}}</option>
                    </select>
                  </div>
  
                  <div class="md:col-span-2">
                    <label for="full_name">Modules</label>
                    <select formControlName="module_id" name="module" id="module" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" >
                      <option [value]="item.id" *ngFor="let item of data.modules">{{item.libelle}}</option>
                    </select>
                  </div>
  
                  <div class="md:col-span-2">
                    <label for="full_name">Semestres</label>
                    <select formControlName="semestre_id" name="semestre" id="semestre" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" >
                      <option [value]="item.id" *ngFor="let item of data.semestres">{{item.libelle}}</option>
                    </select>
                  </div>

                <div class="md:col-span-1">
                  <label for="heure">Heure Globale</label>
                  <input type="text" formControlName="heure_globale" name="heure" id="heure" class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50" placeholder=""/>
                </div>
        
                <div class="md:col-span-5 text-right">
                  <div class="inline-flex items-end">
                    <button (click)="addCours()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ajouter un cours</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
