<!-- 
<div class="p-6 bg-gray-100 flex items-center justify-center">
    <div class="container max-w-screen-lg mx-auto">
      <div>
        <h1 class="font-semibold text-2xl text-gray-600">Inscriptions Etudiants</h1>
        <p class="text-gray-500 mb-6">{{annees?.libelle}}</p>
  
        <form action="">
        <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1">
            <div class="text-gray-600">
              <p class="font-medium text-lg">Sonatel School</p>
              <img
                src="https://img.freepik.com/free-vector/gradient-high-school-logo-design_23-2149626932.jpg"
                class="h-20 w-20 mr-3"
                alt="Flowbite Logo"
              />
            </div>
            <div class="lg:col-span-2">
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                <div class="md:col-span-2">
                  <label for="full_name">Classes</label>
                  <select
                    [(ngModel)]="classe_id"
                    name="full_name"
                    id="full_name"
                    class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                  >
                    <option *ngFor="let item of classes" [value]="item.id">{{item.libelle}}</option>
                  </select>
                </div>
                <div class="md:col-span-2">
                  <label for="full_name">Importer Etudiant</label>
                  <input
                    (change)="handleImport($event)"
                    type="file"
                    name="full_name"
                    id="full_name"
                    class="mt-2"
                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                  />
                </div>
  
                <div class="md:col-span-5 text-right">
                  <div class="inline-flex items-end">
                    <button
                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                      (click)="addStudent()"
                      [disabled]="!isFileSelected"
                    >
                      Inscrire
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  



   -->










   <div class="p-4 sm:ml-64 max-w-full bg-white">
    <!-- component -->
  
    <section class="py-1 bg-white w-full">
      <div class="w-full px-4 mx-auto mt-6 flex justify-center items-center min-h-screen">
        <div
          class="relative flex flex-col break-words w-[50%] mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0  h-[20%]"
        >
          <div class="rounded-t bg-white mb-0 px-6 py-6">
            <div class="text-center flex justify-between">
              <h6 class="text-gray-700 text-xl font-bold">{{annees?.libelle}}</h6>
              <button
                (click)="addStudent()"
                [disabled]="!isFileSelected"
                class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                type="button"
              >
                Inscrire
              </button>
            </div>
          </div>
          <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
       
              <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                Cours Information
              </h6>
              <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                      htmlfor="grid-password"
                    >
                      Classes
                    </label>
                    <select
                      [(ngModel)]="classe_id"
                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      value="lucky.jesse"
                    >
                    <option *ngFor="let item of classes" [value]="item.id">{{item.libelle}}</option>
                    </select>
                  </div>
                </div>
               
              
             
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                      htmlfor="grid-password"
                    >
                      Choisir un fichier
                    </label>
                    <input
                    (change)="handleImport($event)"
                      type="file"
                      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      value="lucky.jesse"
                    />
                  </div>
                </div>
              </div>
        
          </div>
        </div>
      </div>
    </section>
  </div>
  