<div class="header w-full min-h-screen flex flex-col justify-between">
    <div class="flex flex-col justify-center h-full py-12">
        <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0 mt-48 ml-40">
            <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8 text-black">
                <h1 class="tracking-wide text-pink-600 text-2xl mb-6">Sonatel School: <span class="text-gray-800 font-bold tracking tracking-widest">High School</span></h1>
                <h2 class="font-bold tracking-widest text-4xl">Une ecole de qualite...</h2>
                <span class="content__container block font-light text-browngray text-2xl my-6">
                    <ul class="content__container__list">
                        <li class="content__container__list__item xl:pl-3">Bonne Pedagogie</li>
                        <li class="content__container__list__item xl:pl-3">De la nouriture</li>
                        <li class="content__container__list__item xl:pl-3">Gratos</li>
                        <li class="content__container__list__item xl:pl-3">La Climatisation</li>
                        <li class="content__container__list__item xl:pl-3">Un environnement</li>
                        <li class="content__container__list__item xl:pl-3">Pour etudier </li>
                        <li class="content__container__list__item xl:pl-3">Dans de bonnes conditions</li>
                    </ul>
                </span>
                <p class="font-bold tracking-widest text-3xl">...Coding For Better Life</p>
            
            </div>
            <div class="w-full sm:w-1/2">
                <img src="https://uploads-ssl.webflow.com/63238fa0eda7d602dd60b8fb/6324a93a4989621ea3076f8f_undraw_true_friends_c-94-g%20(1).svg" alt="AWE.SOME header">
            </div>
        </div>
    </div>
    <!-- <div class="flex flex-row w-full justify-center pb-12">
        <a class="px-10 py-2 text-gray-200 bg-pink-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="#about">More Information</a>
    </div> -->
</div>
